# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Node
node_modules/
npm-debug.log*

# Entornos y secretos
.env
.env.*

# IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Datos generados
*.log
*.tmp
